*{
    margin: 0;
    padding: 0;
}
.resume-background{
    background: no-repeat center/ cover url("joanna-kosinska-78uNJt1kPw8-unsplash.jpg"), linear-gradient(rgb(43, 43, 43), rgb(151, 151, 151));
    width: 80%;
    height: 800px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-content{
    background: cornflowerblue;
    color: black;
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 0;
}
.resume-header{

}
.title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    width: max-content;
    height: 30px;
    background-color: darkgrey;
    padding: 0 0 1px 0;
    border-bottom: 2px solid black ;
    box-sizing: border-box;
}